Package: lxctl
Version: 0.1-rc1-1
Architecture: all
Maintainer: Pavel Potapenkov <oxcd8o@yandex-team.ru>
Installed-Size: 80
Section: misc
Priority: extra
Homepage: http://crocodile.yandex.ru
Description: vzctl-like utility for lxc
 Utility to manage different aspects of linux containers.
