Source: lxctl
Section: misc
Priority: extra
Maintainer: Rashit Azizbaev <syndicut@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://lxc.tl
Vcs-Git: git://github.com/syndicut/lxctl.git
Vcs-Browser: https://github.com/lxctl/lxctl

Package: lxctl
Architecture: all
Depends: ${misc:Depends}, perl-doc, lxc (>= 0.7.4), lvm2, bridge-utils, libyaml-tiny-perl, bash-completion, liblinux-lvm-perl, libossp-uuid-perl, libnet-ssh2-perl, libipc-system-simple-perl
Description: vzctl-like utility for lxc
 Utility to manage different aspects of linux containers.
